doctype html
html
  head
    link(rel="stylesheet", href="style.css", data-inline)
  body
    h1 Peel the Garlic
    p.presents presents...
    h2 #{title}
    img(src=imgUrl)
    p.description #{description}
    div.footer
      p.copyright © Peel the Garlic 2020
      a.unsubscribe(href='https://www.peelthegarlic.com/unsubscribe?subscriber=' + id) Unsubscribe


